{% extends "base.html" %}
{% load static %}

{% block content1 %} 
<div class="container mt-5">
  <h2 class="text-center text-light mb-4">My Certifications</h2>

  
  <div class="row justify-content-center">
    {% for cert in certificate|slice:":3" %}
    <div class="col-md-4 col-sm-6 mb-4 text-center">
      <div class="jumbotron jumbotron-fluid">
        <h4 class="display4">{{ cert.name }}</h4>
        <img src="{% static cert.image %}" alt="{{ cert.name }}" class="img-fluid my-2 cert-img">
        <p class="lead">{{ cert.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  
  <div class="row justify-content-center">
    {% for cert in certificate|slice:"3:" %}
    <div class="col-md-4 col-sm-6 mb-4 text-center">
      <div class="jumbotron jumbotron-fluid">
        <h4 class="display4">{{ cert.name }}</h4>
        <img src="{% static cert.image %}" alt="{{ cert.name }}" class="img-fluid my-2 cert-img">
        <p class="lead">{{ cert.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content1 %}